

/* Univeral Styles ------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    max-width: 100vw;
    background-color: snow;
}

select {
    /* // A reset of styles, including removing the default dropdown arrow */
    appearance: none;
    /* // Additional resets for further consistency */
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }

/* Main Styles --------------------------------------------------------------- */

main {
    margin: 1rem;
}

.form-title {
    display: flex;
    justify-content: center;
    background-color: #2d3945;
    margin-top: 0;
    padding: 1rem 0;
    color: white;
}
                                    
/* not sure if this is the best way *see below* */
.form-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

#signup {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.sign-p {
    width: 100%;
    text-align: center;
    color: #c9cdcf
    ;
}
.contact-info {
    display: flex;
    flex-direction: column;
   
}

#break-1 {
border-bottom: 5px solid #2d3945;
margin-bottom: .25rem;
margin-top: 1rem;
}

#break-2 {
border-bottom: 2px solid #2d3945;
}

#break-3 {
    border-bottom: 2px solid #2d3945;
    padding-top: 1rem;
}

label, .news-p {
    font-weight: lighter;
    color: #919da9;
    /* margin-top: 0; */
}
input, textarea, select {
    background-color: #eff0f1;
    border: none;
    border-radius: .25em;
    padding: 1.5rem;
}

.news-checkbox {
    display: flex;
    align-items: center;
    
}

.news-checkbox label {
    padding-left: 1rem;
}

.format {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #2d3945;
}

button {
    width: 100%;
    margin-top: 1em;
    padding: 1.5rem 0;
    background-color: #4cbbb4;
    border-radius: .25em;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    border: none;
    cursor: pointer;
    
}

.btn-cta {
    text-align: center;
    color: white; 
    transition: all 0.3s ease;
}

.btn-cta:hover {
    background-color: rgb(48, 121, 126);
}

#zip {
    width: 50%;
}


fieldset {
    border: none;
    display: flex;
    flex-direction: column;
  
    
}

legend {
    color: #2d3945;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    
}


.copyright {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    color: #bbc0c3;
}

::placeholder, #state {
    text-align: end;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-weight: lighter;
    color: #bbc0c3;
}

.contact-divs {
    display: flex;
    flex-direction: column;
   
}

.contact-info label {
    margin-bottom: 10px;
  }
  ​
    
.contact-flex {
    margin-top: 1rem;
}
  
  #head {
      padding: 1rem 0;
      padding-bottom: 0;
  }

  .news-head {
      padding-bottom: .5rem;

  }
  
  #topics {
      margin-bottom: 1rem;
  }
/* MEDIA QUERIES ---------------------------------------- */

@media screen and (min-width: 768px) {
    
   


    fieldset .contact-divs{
        display: flex;
        flex-direction: row;
    }

    .contact-divs input, select {
       width: 75%;
       margin-left: auto;
       flex-grow: 1;
       margin: 1em 0;
    }
    
        
    .contact-info label {
        flex-basis: 25%;
        height: 50px;
        margin: auto 0;
        padding-top: 1rem;
        color: #2d3945
        ;
      }

      #zip {
        max-width: 25%;
    }
      
      
  
    


}