

/* Univeral Styles ------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    
}

/* Main Styles --------------------------------------------------------------- */

main {
    margin: 1rem;
}

.form-title {
    display: flex;
    justify-content: center;
    background-color: rgb(59, 59, 113);
    margin-top: 0;
    padding: 1rem 0;
    color: white;
}
                                    
/* not sure if this is the best way *see below* */
.form-description {
    display: flex;
    flex-direction: column;
    margin-left: auto;
} 

#signup {
    width: 50%;
    margin: 0 auto;
}

p {
    width: 50%;
}
.contact-info {
    display: flex;
    flex-direction: column;
   
}