

/* Univeral Styles ------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    
}

/* Main Styles --------------------------------------------------------------- */

main {
    margin: 1rem;
}

.form-title {
    display: flex;
    justify-content: center;
    background-color: #2d3945
    ;
    margin-top: 0;
    padding: 1rem 0;
    color: white;
}
                                    
/* not sure if this is the best way *see below* */
.form-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

#signup {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.sign-p {
    width: 100%;
    text-align: center;
    color: #c9cdcf
    ;
}
.contact-info {
    display: flex;
    flex-direction: column;
   
}

#break-1 {
border-bottom: 5px solid #2d3945;
margin-bottom: .25rem;
margin-top: 1rem;
}

#break-2 {
border-bottom: 2px solid #2d3945;
}

#break-3 {
    border-bottom: 2px solid #2d3945;
    padding-top: 1rem;
}

label, .news-p {
    font-weight: lighter;
    color: #919da9
    ;
}
input {
    background-color: #eff0f1;
    border: none;
    border-radius: 5%;
    padding: 1.5rem;
}

.news-checkbox {
    display: flex;
    align-items: center;
}

format {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #2d3945
    ;
}

























